[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-cd-image;model/x.stl-binary
Actions=mount;unmount;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
Icon=application-x-cd-image
X-KDE-Submenu=Mount/unmount iso image

[Desktop Action unmount]
Name=Unmount
Icon=media-eject
Exec=sudo umount /mnt

[Desktop Action mount]
Name=Mount
Icon=media-mount
Exec=sudo mdconfig -a -t vnode -f %f && sudo mount_cd9660 /dev/md0 /mnt || sudo mount_udf /dev/md0 /mnt || sudo mount_mdf /dev/md0 /mnt



